<head>
    <style>
        .content {
            text-align: justify;
        }
        .card {
            background-color: rgba(255, 255, 255, 0.5);
        }
    </style>
</head>

<div class="about-me">
  <article class="card-wrapper card">
      {% assign card_body_col = '12' %}
        <div class="col-md-{{ card_body_col }}">
          <div class="card-body d-flex flex-column">
            <h1 class="card-title my-2 mt-md-0">About me</h1>
            <div class="card-text content mt-0 mb-3" style="text-align: justify;">
              <br>
              <p>Welcome to my personal blog. My name is Yunzhe Wang, and you may address me either by the Mandarin pinyin pronunciation or the Cantonese-inspired phonetic name, Wenzy Wong. Both are acceptable and reflect my given name.</p>
              <p>I am currently a third-year student in the combined Master&#39;s and Ph.D. program at <a href="https://zhanglab-fudan.github.io/">Zhang Lab</a>, <a href="https://basicmed.fudan.edu.cn/main.htm">School of Basic Medical Sciences</a>, <a href="https://www.fudan.edu.cn/en/">Fudan University</a>. </p>
              <p>Before the program, I earned my Bachelor&#39;s degree in Bioinformatics at <a href="https://encoi.hzau.edu.cn/">College of Informatics</a>, <a href="https://en.hzau.edu.cn/">Huazhong Agricultural University</a>, where I systematically studied this field and developed a dual mind-set integrating &quot;data-driven&quot; and &quot;question-driven&quot; thinking. Beyond traditional undergraduate studies, to compensate for the lack of exposure to medical research at an agricultural university, I also participated in a visiting research program, Biological and Biomedical Science Programme, at <a href="https://www.sls.cuhk.edu.hk/">School of Life Sciences</a>, <a href="https://www.cuhk.edu.hk/english/">The Chinese University of Hong Kong</a>. </p>
              <p>During my Ph.D. program, I have continued to enhance bioinformatics skills, with the aim of promoting their standardized and effective application in cancer-related studies. My current research focuses on utilizing multi-omics data to explore unique microbial communities associated with human gastrointestinal tract cancers. I am also deeply interested in interdisciplinary fields, such as the relationship between neuroactive substances and cancer, the impact of metabolites from various sources on epigenetic reprogramming, etc. </p>
            </div>
          </div>
        </div>
    </article>
</div>
