---
layout: page
# Index page
---

{{ content | markdownify }}

Welcome to my personal blog. My name is Yunzhe Wang, and you may address me either by the Mandarin pinyin pronunciation or the Cantonese-inspired phonetic name, Wenzy Wong. Both are acceptable and reflect my given name.

I am currently a third-year student in the combined Master's and Ph.D. program at [Zhang Lab](https://zhanglab-fudan.github.io/), [MOE Key Laboratory of Metabolism and Molecular Medicine](http://www.klmm.fudan.edu.cn/), [Fudan University](https://www.fudan.edu.cn/en/). 

Before the program, I earned my Bachelor's degree in Bioinformatics at [College of Informatics](https://encoi.hzau.edu.cn/), [Huazhong Agricultural University](https://en.hzau.edu.cn/), where I systematically studied this field and cultivated a balanced perspective that integrates both "data-driven" and "question-driven" thinking. Beyond traditional undergraduate studies, to compensate for the lack of exposure to cutting-edge human medical research at an agricultural university, I also participated in a visiting research program, Biological and Biomedical Science Programme, at [School of Life Sciences](https://www.sls.cuhk.edu.hk/), [The Chinese University of Hong Kong](https://www.cuhk.edu.hk/english/). 

During my Ph.D. program, I have continued to enhance bioinformatics skills, with the aim of promoting their standardized and effective application in cancer-related studies. My current research focuses on utilizing multi-omics data to explore unique microbial communities associated with human gastrointestinal tract cancers. I am also deeply interested in interdisciplinary fields, such as the relationship between neuroactive substances and cancer, the impact of metabolites from various sources on epigenetic reprogramming, etc. 
