<head>
    <style>
        .content {
            text-align: justify;
        }
    </style>
</head>

<div class="about-me">
  <div class="card-body d-flex flex-column">
    <h1 class="card-title my-2 mt-md-0">ABOUT ME</h1>
    <div style="text-align: center;">
      <img src="/assets/img/Fire_of_love.jpg" alt="Fire of love" style="margin: 0 auto;" />
    </div>
    <div class="card-text content mt-0 mb-3" style="text-align: justify;">
      <br>
      <p>Welcome to my personal blog. My given name is Yunzhe WANG. You may also address me by my Cantonese-inspired phonetic name, Wenzy WONG. In this blog, you'll find my random thoughts on scientific research, my tiny academic contributions, some notes I would like to share, and poems I wrote just for fun (since 2025). Below is a brief summary of my educational background and academic journey over the past few years. </p>
      <p>I earned my Bachelor&#39;s degree in Bioinformatics at <a href="https://encoi.hzau.edu.cn/">College of Informatics</a>, <a href="https://en.hzau.edu.cn/">Huazhong Agricultural University</a>, where I systematically learned this field and developed both data-driven and question-driven thinking. Beyond traditional undergraduate studies, to compensate for the lack of exposure to medical research at an agricultural university, I also participated in a visiting research programme, Biological and Biomedical Science Programme, at <a href="https://www.sls.cuhk.edu.hk/">School of Life Sciences</a>, <a href="https://www.cuhk.edu.hk/english/">The Chinese University of Hong Kong</a>. The group I led there won the second price in the ending presentation of this programme. </p>
      <p>I am currently a third-year student in the combined Master&#39;s and Ph.D. programme at <a href="https://zhanglab-fudan.github.io/">Zhang Lab</a>, <a href="https://basicmed.fudan.edu.cn/main.htm">School of Basic Medical Sciences</a>, <a href="https://www.fudan.edu.cn/en/">Fudan University</a>. During my Ph.D. programme, I have continued to enhance bioinformatics skills, aiming to understand more of their effective and reasonable applications in cancer-related studies. My current research focuses on utilizing multi-omics data to explore unique microbial communities associated with human gastrointestinal tract cancers. I am also deeply interested in interdisciplinary fields, such as the relationship between neuroactive substances and cancer, the impacts of metabolites from various sources on epigenetic reprogramming, etc. </p>
      <p>Please check my <a href="https://wenzywong.github.io/CV/">CV</a> for detailed information.</p>
    </div>
  </div>
</div>
